body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
  }
.header
{
    background-color:rgb(34, 138, 103);
    overflow: hidden;
    position: fixed;
  width: 100%;
    cursor:pointer;
}
.header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

  }
.header a:hover
{
    background-color: cadetblue;
}
/* .topnav a.active
{
    background-color: aqua;
} */
  .header input[type=text] {
    float:right;
    margin-top:8px;
    margin-right: 20px;
    font-size:21px;
  }
  .header .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .slider
  { 
    padding:40px;
    display: flex;
    
  }
  
  
  .column
  {
     flex: 33.33%;
     padding: 10px; 
 transition: transform .2s;
 cursor:pointer;
  }
 .column:hover{
    transform: scale(1.1);

  }
  .web
  {

    background-color: rgb(34, 138, 103);
    color:white;
    text-align: center;
    height:200px;
    padding:67px;
    cursor:pointer
  }
  .web:hover
  {
   color:aquamarine;
   font-style: italic;
  }
  .foter
  {
    display: flex;
    
    height:50px;
    background-color:black ;
  
  }
  .col_1 a{
    
   
    margin-bottom: 20px;
    color: #f2f2f2;
    padding:50px;
    text-align: center;
    text-decoration: none;

  }